<!-- <p>sidebar works!</p> -->

    <div class="dash-left">
        <ul>
            <li class="active"><a routerLink="/admin-dashboard">Dashboard</a></li>
            <li><a routerLink="/showblogs" class="">Blogs</a></li>
            <!-- <li><a routerLink="/admin-category">Categories</a></li> -->
            <li><a routerLink="/admin-registerdisplay">registraions</a></li>
            <li><a routerLink="/admin-contactshow">contacts</a></li>
            <!-- <li><a routerLink="/admin-aboutform">aboutform</a></li> -->
            <li><a  (click)="logout()">Logout</a></li>
        </ul>
    </div>   
<!-- </div> -->