<!-- <p>aboutform works!</p> -->
<!-- <p>contact works!</p> -->
<!-- <section class="cmspage mtb-40">
    <div class="container">
      <app-sidebar></app-sidebar>
      <div class="page-desc">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1>aboutform</h1>
            <form [formGroup]="form1" (ngSubmit)="aboutdata()">
              
              <div class="form-group">
                <textarea formControlName="text" rows="5" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-success" type="submit">Set</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section> -->




<!-- <p>createblog works!</p> -->
<section class="dashboard-wrap mtb-40">
  <div class="container">
      <div class="body-content">
          <div class="row">
              <div class="col-md-3">
                <app-sidebar></app-sidebar>
                
              </div>
              <div class="col-md-9">
                  <div class="dash-right">
                      <div class="dash-header">
                        <div class="dash-title ">
                            <h1 class="text-secondary">About <span class="text-primary">Form</span></h1>
                        </div>
                      </div>
                      <form [formGroup]="form1" (ngSubmit)="aboutdata()">
              
                        <div class="form-group">
                          <textarea formControlName="text" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group text-center">
                          <button class="btn btn-outline-success btn-lg" type="submit">Set about</button>
                        </div>
                      </form>
                  </div>   
              </div>
          </div>
      </div>
  </div>
</section>
